# docker-compose.yml merge=ours
docker-compose.yml merge=paitence
# *.Dockerfile merge=theirs
_services/ merge=theirs
# do not touch config files until needed
# consider about paitence set
_services/**/*conf* merge=ours


# git files
.gitattributes merge=ours
.gitignore merge=ours
.gitmodules merge=ours


README.md merge=ours
README-template.md merge=ours
