*.env*
!.env.example
*.sql

# ignore docker compose cause it not neccesayr here
docker-compose.yaml
docker-compose.yml

# ignore app dirs for debugging
app_backend
app_frontend


.obsidian/
.vscode/
.idea/


README-template.md
