[submodule "app_backend"]
	path = app_backend/
	url = git@gitlab.com:garageinc/dflat-backend.git
	branch = debug
	fetchRecurseSubmodules = true

[submodule "app_frontend"]
	path = app_frontend/
	url = git@gitlab.com:garageinc/dflat-frontend.git
    	; active = false ; set only if frontend is present
	branch = debug
    	fetchRecurseSubmodules = true
