[merge]
    tool = vimdiff
[mergetool "vimdiff"]
    trustExitCode = true
    keepBackup = false

[status]
    short = true


[remote]
    pushDefault = origin

; [remote "origin"]
    ; url =

[remote "templates"]
    url = https://gitlab.com/garageinc/docker-suitcase.git
    ; url = git@github.com:pstargazer/docker-templates.git



[alias "stat"]
    cmd = git status
