[merge]
    tool = vimdiff
[mergetool "vimdiff"]
    trustExitCode = true
    keepBackup = false

[status]
    short = true


[remote]
    pushDefault = origin

; [remote "origin"]
    ; url =

[remote "templates"]
    url = https://gitlab.com/garageinc/docker-suitcase.git
    ; url = git@github.com:pstargazer/docker-templates.git



[alias]
    stat = status
    adda = add -A
    comma = commit -a
    conf-include = config --local include.path "$PWD/.gitconfig"
    ; use only in place to apply template and only after commit
    template-get = !git fetch template/master && git merge templates/debug --autostash
